<div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
  <ul class="nav icones-footer boxsidebar">
    <li>
      <a href="/quem-somos" [className]="sessao == 1 ? 'active' : ''">
        <img src="assets/image/icon-quemsomos.png" alt="Image"> Quem Somos</a>
    </li>
    <li>
      <a class="active" href="/nossos-projetos" [className]="sessao == 2 ? 'active' : ''">
        <img src="assets/image/icon-book.png" alt="Image"> Projetos
      </a>
    </li>
    <li>
      <a href="/trabalhe-conosco" [className]="sessao == 3 ? 'active' : ''">
        <img src="assets/image/icon-pincel.png" alt="Image"> Trabalhe conosco</a>
    </li>
    <li>
      <a href="/imprensa" [className]="sessao == 4 ? 'active' : ''">
        <img src="assets/image/icon-4.png" alt="Image"> Imprensa
      </a>
    </li>
  </ul>
</div>
