<app-header></app-header>
<section id="quem-somos-page">

  <div class="container">
    <app-sidebar-about sessao="2"></app-sidebar-about>


    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
      <h1>Nossos Projetos</h1>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h2>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo
          consequat.
        </h2>
      </div>

      <div *ngIf="(projetos | async)?.data as proj">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 box-service" *ngFor="let item of proj">

          <div class="media">
            <a class="pull-left" href="/projeto/{{item.id}}">
              <img class="media-object" [src]="getImage(item.image)" alt="Image " width="80" />
            </a>
            <div class="media-body ">
              <a href="/projeto/{{item.id}} " style="text-decoration:none ">
                <h4 class="media-heading ">{{item.nome}}</h4>
              </a>
              <p [innerHTML]="item.objetivo "></p>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

</section>
<app-newsletter></app-newsletter>
<app-footer></app-footer>
