<section id="footer">

  <div class="container">

    <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">
      <ul class="nav">
        <li class="active">
          <a href="/materias">Notícias</a>
        </li>
        <li class="active">
          <a href="/eventos">Calendário</a>
        </li>
        <li class="active">
          <a href="#">Vídeos</a>
        </li>
        <li class="active">
          <a href="/links-uteis">Links úteis</a>
        </li>
      </ul>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
      <ul class="nav">
        <li class="active">
          <a href="/quem-somos">Sobre a ACOR</a>
        </li>
        <li>
          <a href="/quem-somos">Quem Somos</a>
        </li>
        <li>
          <a href="/nossos-projetos">Nossos Projetos</a>
        </li>
        <li>
          <a href="/trabalhe-conosco">Trabalhe conosco</a>
        </li>
        <li>
          <a href="/imprensa">Imprensa</a>
        </li>
      </ul>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
      <ul class="nav">
        <li class="active">
          <a href="/associado">Seja um associado</a>
        </li>
        <li class="active">
          <a href="/apoio">Apoio</a>
        </li>
        <!-- <li class="active">
          <a href="#">Validação</a>
        </li> -->
        <li class="active">
          <a href="/fale-conosco">Fale Conosco</a>
        </li>

      </ul>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
      <ul class="nav icones-footer">
        <li class="active">
          <a href="/fale-conosco">Fale com a ACOR</a>
        </li>
        <li>
          <a href="#">
            <img src="assets/image/icon-phone.png" alt> (11) 3500-6081</a>
        </li>
        <!-- <li>
          <a href="#">
            <img src="assets/image/icon-msg.png" alt> contato@acorsp.com.br</a>
        </li> -->
        <li>
          <a href="http://facebook.com/acorsp" target="_blank">
            <img src="assets/image/icon-face.png" alt> facebook.com/acorsp</a>
        </li>
        <li>
          <a href="https://www.instagram.com/acor_sp/" target="_blank">
            <img src="assets/image/icn-instagram-amarelo.png" alt> instagram.com/acor_sp/</a>
        </li>
      </ul>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3" style="padding: 0;">
      <ul class="nav footer-image">
        <li>
          <img class="img-responsive" src="assets/image/logohorizontal.png" alt="Image">
        </li>
        <li>
          <p>CopyRight 2019. Todos os direitos reservados.</p>
          <p>Associação de comida e bebida de rua de São paulo.</p>
        </li>
      </ul>
    </div>

  </div>

</section>
