#quem-somos-page {
  margin: 100px 0;
}

#quem-somos-page h1 {
  text-align: center;
  color: #fdb914;
  font-weight: bold;
  position: relative;
  font-size: 40px;
}
:host ::ng-deep p{
  font-size: 16px;
  color: #585a5a;
}
#quem-somos-page h1:before {
  content: " ";
  width: 34px;
  height: 2px;
  position: absolute;
  background: #fdb914;
  bottom: -4px;
}

#quem-somos-page h2 {
  font-size: 24px;
  color: #aaaaaa;
  padding-bottom: 40px;
  text-align: center;
}

#quem-somos-page h3 {
  font-size: 24px;
  color: #fdb914;
  font-weight: bold;
}


.right {
  padding: 5px;
  float: right;
}
.left {
  padding: 5px;

  float: left;
}
