/*Publicidade*/

.banner-publicidade {
  display: flex;
  flex-direction: row;
  margin: 20px 0;
}

.banner-publicidade .boxrotate {
  display: flex;
  align-items: flex-end;
}

.txtrotation {
  display: flex;
  width: 20px;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
}
