<section id="midia-associado">
  <div class="container">
    <div class="patrocionio-acor">
      <div>
        Patrocinios
      </div>
      <div>
        <img class="img-responsive" src="assets/image/coca.png" alt="Image">
      </div>

      <div>
        <img class="img-responsive" src="assets/image/makro.png" alt="Image">
      </div>
      <div>
        <img class="img-responsive" src="assets/image/coca.png" alt="Image">
      </div>

      <div>
        <img class="img-responsive" src="assets/image/makro.png" alt="Image">
      </div>
    </div>
  </div>
</section>
